nav{
	grid-area:nav;
	background-color:rgb(0, 12, 53);
	display:flex;
	justify-content: center;
	width:100%;
	top:0;
}
.current {
  color: rgb(255, 255, 255);
  border-style:solid;
  padding:3px;
}
.flexlink{
	background:linear-gradient(rgb(0, 0, 0),rgb(133, 0, 0),black);
	padding:10px;
	margin:5px;
	font-size:20px;
	text-align: center;
	
}

.content{
	bottom:10%;
	background: linear-gradient(black,rgb(0, 0, 129),rgb(172, 0, 106),rgb(0, 0, 129),black) ;
	width:95%;
	min-height:500px;
	text-align:center;
	justify-content: center;
	border-style:solid;
	color:white;
	margin-left:2.5%;
	border-radius: 15px;
}
body{
	background-color:red;
}
