nav{
	grid-area:nav;
	background-color:orangered;
	display:flex;
	justify-content: center;
	width:100%;
	top:0;
}
.current {
  color: green;
  border-style:solid;
  padding:3px;
}
.flexlink{
	background-color:white;
	padding:10px;
	margin:5px;
	font-size:20px;
	text-align: center;
	
}

.content{
	bottom:10%;
	background-color:rgb(255, 0, 0);
	width:95%;
	min-height:500px;
	text-align:center;
	justify-content: center;
	border-style:solid;
	color:white;
	margin-left:2.5%;
	border-radius: 15px;
}